<div class="masthead">

  <div class="language-nav">
    <ul>
      <a><li>CSS </li></a>
      <a><li>HTML</li></a>
      <a><li>Javascript</li></a>
      <a><li>Ruby</li></a>
    </ul>
  </div>
    <img class="logo" src="assets/AA_Times_Logo.jpeg" alt='AA Logo'>
    <ul class="masthead-links">
      <b><li>Tuesday, October 18, 2016</li></b>
      <li>Today’s Paper</li>
      <li>Video</li>
      <li>77°F</li>
    </ul>

</div>
